{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    ['module-resolver', {
      'root': ['.'],
      'alias': {
        'Components': 'app/components',
        'Pages': 'app/pages',
        'Icons': 'app/icons',
        'Util': 'app/util',
        'Root': 'app',
      }
    }]
  ],
  "presets": [
    "es2015",
    "react"
  ]
}
